* {
    padding: 0;
    margin: 0;
    color: #1f2328;
}
a {
    text-decoration: none;
    color: #1f2328;
}
.picker-item{
   display: flex;
   flex-direction: row;
   gap: 15px;
   padding: 5px;
   user-select: none;
}
.picker-item .picker-date{
    width: 280px;
}
.picker-item .picker-selector {
    display: flex;
    gap: 8px;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
    vertical-align: middle;
    height: 30px;
    text-align: center;
}
.picker-item .picker-selector span {
    display: inline-flex;
    vertical-align: middle;
}
.picker-item .picker-selector a {
    position: relative;
    height: 28px;
    padding: 0 5px;
    border: 1px solid #ebebeb;
    background: #fafafa;
    line-height: 24px;
    vertical-align: middle;
}
.picker-item .picker-selector a.prev,.picker-item .picker-selector a.next{
    position: relative;
    color: transparent!important;
}
.picker-item .picker-selector a.prev{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.picker-item .picker-selector a.prev::after{
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin: -4px 0 0 -2px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(45deg);
}
.picker-item .picker-selector a.next{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.picker-item .picker-selector a.next::after{
    position: absolute;
    right: 50%;
    top: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin: -4px -2px 0 0;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
}
.picker-item .picker-selector a:hover {
    border-color: #d2d9df;
    background: #f6f8fa;
}
.picker-item .picker-selector select {
    min-width: 60px;
    height: 30px;
    padding-left: 4px;
    border: 1px solid #ebebeb;
    margin: 0 -1px;
    background: #fff;
    line-height: 28px;
    vertical-align: middle;
    font-size: 14px;
    color: #1f2328;
    outline: none;
}
.picker-item .picker-selector:only-child{
    border-radius: 4px;
}
.picker-item .picker-selector button {
    height: 26px;
    border: 1px solid #ebebeb;
    line-height: 24px;
    background: #fafafa;
}
.picker-item .picker-content{
    border-radius: 6px;
}
.picker-item .picker-content table {
    width: 100%;
    table-layout: fixed;
    color: #1f2328;
    border-collapse: collapse;
    border-spacing: 0;
}
.picker-item .picker-content table th, .picker-item .picker-content table td {
    text-align: center;
}
.picker-item .picker-content table th {
    line-height: 30px;
    font-weight: normal;
}
.picker-item .picker-content table th span{
    position: relative;
    z-index: 9;
}
.picker-item .picker-content table td {
    position: relative;
    border: 1px solid #fff;
    line-height: 20px;
}
.picker-item .picker-content table thead {
    position: relative;
}
.picker-item .picker-content table thead tr{
    border-bottom: 3px solid #fff;
}
.picker-item .picker-content table thead th:first-child::after{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    content:'';
    width: 100%;
    height: calc(100% - 1.5px);
    background: #f6f8fa;
    border-radius: 4px;
}
.picker-item .picker-content table tbody a {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 6px;
    line-height: 20px;
    cursor: pointer;
}
.picker-item .picker-content table tbody a:hover {
    background: rgba(0, 0, 0, 0.024);
}
.picker-item .picker-content table tbody span {
    display: block;
}
.picker-item .picker-content table tbody i {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 3px;
    line-height: 18px;
    font-style: normal;
    font-size: 13px;
    color: #fff;
}
.picker-item .picker-content table td.range a{
    background: var(--primary-light-color);
}
.picker-item .picker-content table td.link a {
    background: var(--other-color);
    color: #fff;
}
.picker-item .picker-content table td.active a {
    background: var(--primary-color);
    color: #fff;
}
.picker-item .picker-content table td.today a {
    font-weight: bold;
}
.picker-item .picker-content table td.other a {
    opacity: 0.5;
}
.picker-item .picker-content table td.disabled a {
    background: #e8e8e8;
    opacity: 0.3;
    text-decoration: line-through;
    color: inherit;
}

.picker-item .picker-time{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 250px;
}
.picker-item .picker-time-value{
    margin-bottom: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
.picker-item .picker-scroll{
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.picker-item .picker-scroll-head,.picker-item .picker-scroll-body{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.picker-item .picker-scroll-head > *,.picker-item .picker-scroll-body > *{
    flex: 1;
    min-width: 0;
}
.picker-item .picker-scroll-head{
    background: #f6f8fa;
    border-radius: 4px;
    line-height: 30px;
}
.picker-item .picker-scroll-body{
    flex: 1;
    min-height: 0;
}
.picker-item .picker-scroll ul{
    max-height: 100%;
    overflow-y: auto;
}
.picker-item .picker-scroll li{
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.picker-item .picker-scroll li:hover {
    background: rgba(0, 0, 0, 0.024);
}
.picker-item .picker-scroll li.active{
    background: var(--primary-color);
    color: #fff;
}
.picker-item .picker-scroll li.disabled{
    background: #e8e8e8;
    opacity: 0.3;
    text-decoration: line-through;
    color: inherit;
}
.picker-item .picker-scroll li.disabled:hover{
    background: #e8e8e8;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.024);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    transition: background 0.2s;
}