:host {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    container-type: inline-size;
    font-family: Arial,Helvetica,"Microsoft Yahei";
    font-size: 14px;
    aspect-ratio: 1;
    min-width: 240px;
    height: 32px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-sizing: border-box;
    --primary-color: #2095f2;
    --primary-light-color: #2095f211;
    --secondary-color: #ffaa00;
    --other-color: #a3b6bf;
    --confirm-color: #4bae4f;
    --confirm-hover-color: #47a04b;
    --choose-color: #607d8b;
    --choose-hover-color: #536c79;
}
:host(:is(widget-datetime-range)){
    min-width: 400px;
}
*{
    padding: 0;
    margin: 0;
}

.mod-datetime{
    display: flex;
    width: 100%;
    height: 100%;
}
.mod-datetime input[type="text"]{
    flex: 1;
    min-width: 0;
    height: 100%;
    border: none;
    background: none;
    box-sizing: border-box;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: inherit;
}
.mod-datetime button{
    height: 100%;
    margin-right: -5px;
    background: none;
    border: none;
    aspect-ratio: 1;
    opacity: 0.5;
    background: url('data:image/svg+xml,%3Csvg t="1769315323844" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="17731" width="64" height="64"%3E%3Cpath d="M672 64a32 32 0 0 1 32 32l-0.064 32H896a64 64 0 0 1 63.552 56.512L960 192v160a32 32 0 0 1-63.488 5.76L896 352V192h-192.064L704 288a32 32 0 1 1-64 0L639.936 192h-256L384 288a32 32 0 0 1-64 0L319.936 192H128v704h262.848a32 32 0 0 1 5.76 63.488l-5.76 0.512H128a64 64 0 0 1-63.552-56.512L64 896V192a64 64 0 0 1 56.512-63.552L128 128h191.936L320 96a32 32 0 0 1 64 0l-0.064 32h256L640 96a32 32 0 0 1 32-32z m32 384a256 256 0 1 1 0 512 256 256 0 0 1 0-512z m0 64a192 192 0 1 0 0 384 192 192 0 0 0 0-384z m-416 192a32 32 0 1 1 0 64h-64a32 32 0 1 1 0-64h64zM704 608a32 32 0 0 1 32 32l-0.064 32H768a32 32 0 1 1 0 64h-64a32 32 0 0 1-32-32v-64a32 32 0 0 1 32-32zM352 512a32 32 0 0 1 0 64h-128a32 32 0 0 1 0-64h128z" p-id="17732"%3E%3C/path%3E%3C/svg%3E') center center / 64% 64% no-repeat;
}
.mod-datetime button.time{
    background-image: url('data:image/svg+xml,%3Csvg t="1769178339994" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="19908" width="64" height="64"%3E%3Cpath d="M 511.922 2.621 c -135.99 0 -263.916 53.049 -360.102 149.27 c -96.189 96.188 -149.199 224.081 -149.199 360.106 c 0 136.068 53.009 263.959 149.199 360.147 c 96.188 96.227 224.113 149.233 360.102 149.233 c 136.139 0 264.032 -53.006 360.221 -149.233 c 96.259 -96.188 149.236 -224.081 149.236 -360.147 c 0 -136.026 -52.972 -263.918 -149.236 -360.106 c -96.189 -96.222 -224.075 -149.27 -360.221 -149.27 M 827.122 827.126 c -84.11 84.182 -196.126 130.555 -315.199 130.555 c -118.996 0 -230.868 -46.372 -315.122 -130.555 c -84.187 -84.182 -130.549 -196.055 -130.549 -315.124 c 0 -119.075 46.363 -230.942 130.549 -315.13 c 84.259 -84.182 196.126 -130.548 315.122 -130.548 c 119.074 0 231.095 46.367 315.199 130.548 c 84.187 84.188 130.556 196.055 130.556 315.13 s -46.369 230.943 -130.556 315.124 M 747.364 578.253 l -203.552 -87.223 l 0.001 -329.191 c 0 -17.559 -14.253 -31.89 -31.89 -31.89 c -17.557 0 -31.774 14.332 -31.774 31.89 v 350.162 c 0 12.72 7.579 24.313 19.317 29.26 l 222.836 95.516 c 4.089 1.726 8.331 2.593 12.496 2.593 c 12.341 0 24.195 -7.278 29.296 -19.286 c 6.906 -16.203 -0.565 -34.847 -16.731 -41.829 M 193.612 480.185 h -31.813 c -17.559 0 -31.851 14.258 -31.851 31.813 c 0 17.558 14.291 31.818 31.851 31.818 h 31.813 c 17.558 0 31.888 -14.258 31.888 -31.818 c 0 -17.554 -14.332 -31.813 -31.888 -31.813 M 798.462 511.998 c 0 17.557 14.33 31.851 31.888 31.851 h 31.813 c 17.597 0 31.813 -14.292 31.813 -31.851 c 0 -17.554 -14.217 -31.846 -31.813 -31.846 h -31.813 c -17.559 0 -31.888 14.288 -31.888 31.847 M 511.922 798.543 c -17.558 0 -31.774 14.253 -31.774 31.812 v 31.884 c 0 17.488 14.217 31.779 31.774 31.779 c 17.631 0 31.89 -14.291 31.89 -31.779 v -31.884 c 0.001 -17.559 -14.254 -31.812 -31.89 -31.812 v 0 Z M 511.922 798.543 Z" p-id="19909"%3E%3C/path%3E%3C/svg%3E');
}
.mod-datetime button.date{
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4820" width="64" height="64"%3E%3Cpath d="M819.057629 645.954349l-62.937128 0 0 62.999554 62.937128 0L819.057629 645.954349zM819.057629 771.829612l-62.937128 0 0 62.999554 62.937128 0L819.057629 771.829612zM630.244232 520.078079l-62.938135 0 0 63.00056 62.938135 0L630.244232 520.078079zM630.244232 79.389305 378.494713 79.389305l0 62.938135 251.749519 0L630.244232 79.389305zM284.333689 204.435918c17.270758 0 31.16147-18.747829 31.16147-41.857399L315.495159 58.24715c0-23.048151-13.890712-41.794973-31.16147-41.794973-17.146914 0-31.099044 18.746823-31.099044 41.794973l0 104.332376C253.234645 185.689095 267.186775 204.435918 284.333689 204.435918M724.90164 204.435918c17.576845 0 31.832042-18.747829 31.832042-41.857399L756.733682 58.24715c0-23.048151-14.255197-41.794973-31.832042-41.794973-17.58188 0-31.838083 18.746823-31.838083 41.794973l0 104.332376C693.063556 185.689095 707.31976 204.435918 724.90164 204.435918M630.244232 645.954349l-62.938135 0 0 62.999554 62.938135 0L630.244232 645.954349zM819.057629 520.078079l-62.937128 0 0 63.00056 62.937128 0L819.057629 520.078079zM252.618443 771.829612l-62.939142 0 0 63.058959 62.939142 0L252.618443 771.829612zM252.618443 645.954349l-62.939142 0 0 62.999554 62.939142 0L252.618443 645.954349zM944.932892 79.389305 819.057629 79.389305l0 62.938135 125.87627 0 0 188.815411L63.805046 331.142851 63.805046 142.32744l125.875263 0L189.680309 79.389305 63.805046 79.389305c-65.271041 0-62.938135 64.567243-62.938135 62.938135l0 818.192732c0 61.277814 60.604221 62.938135 62.938135 62.938135l881.128853 0c57.406418 0 62.937128-60.601201 62.937128-62.938135L1007.871027 142.32744C1007.87002 138.057324 1006.21272 79.389305 944.932892 79.389305M944.932892 960.520172 63.805046 960.520172 63.805046 394.080986l881.128853 0L944.933899 960.520172zM630.244232 771.829612l-62.938135 0 0 63.058959 62.938135 0L630.244232 771.829612zM441.433855 645.954349l-62.939142 0 0 62.999554 62.939142 0L441.433855 645.954349zM441.433855 520.078079l-62.939142 0 0 63.00056 62.939142 0L441.433855 520.078079zM441.433855 771.829612l-62.939142 0 0 63.058959 62.939142 0L441.433855 771.829612zM252.618443 520.078079l-62.939142 0 0 63.00056 62.939142 0L252.618443 520.078079z" p-id="4821"%3E%3C/path%3E%3C/svg%3E');
}
.mod-datetime button.active{
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9299" width="64" height="64"%3E%3Cpath d="M512 1024C229.220848 1024 0 794.779152 0 512S229.220848 0 512 0 1024 229.220848 1024 512 794.779152 1024 512 1024z m-13.312-540.361697l-153.6-153.6a31.030303 31.030303 0 1 0-43.876848 43.876849l153.6 153.6-153.6 153.6a31.030303 31.030303 0 1 0 43.876848 43.876848l153.6-153.6 153.6 153.6a31.030303 31.030303 0 0 0 43.876848-43.876848L542.564848 527.515152l153.6-153.6a31.030303 31.030303 0 0 0-43.876848-43.876849l-153.6 153.6z" p-id="9300"%3E%3C/path%3E%3C/svg%3E') !important;
}

.picker-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #fff;
    padding: 10px;
    border: 1px solid #dde2e4;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.picker-container .picker-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.picker-container .picker-body:has(widget-datetime-item[type="datetime"]){
    flex-direction: column;
}
.picker-container .picker-foot{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    overflow: hidden;
}
.picker-container .btn{
    display: inline-block;
    min-width: 48px;
    padding: 0 15px;
    border: none;
    background: var(--confirm-color);
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.picker-container .btn:hover{
    background: var(--confirm-hover-color);
}
.picker-container .btn-select{
    background: var(--choose-color);
}
.picker-container .btn-select:hover{
    background: var(--choose-hover-color);
}
.picker-container .btn-cancel{
    background: #f8f8f8;
    color: #444;
}
.picker-container .btn-cancel:hover{
    background: #f5f5f5;
    color: #333;
}
.picker-container .text-right{
    flex: 1;
    min-width: 0;
    text-align: right;
}


dialog{
    position: absolute;
    left: 0; 
    top: calc(100% + 2px);
    z-index: 9;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}
dialog:modal{
    position: fixed;
    left: 0;
    top: auto;
    bottom: -50%;
    z-index: 999999;
    min-width: 100%;
    transition: all 0.25s ease;
}
dialog:modal[open]{
    bottom: 0;
}
dialog:modal::backdrop{
    backdrop-filter: blur(3px);
}
dialog:modal .picker-container{
    width: 100%;
    border-radius: 0;
    border-left: none;
    border-right: none;
}
dialog:modal .picker-container .picker-body ul{
    flex: none;
    width: 100%;
    max-width: 100%;
}
dialog:modal .picker-container .picker-body ul:empty{
    display: block;
}
dialog:modal .picker-container .picker-content{
    transition: all 0.3s ease;
    transform: translateX(0);
}
dialog:modal[data-group="city"] .picker-container .picker-content{
    transform: translateX(-100%);
}
dialog:modal[data-group="district"] .picker-container .picker-content{
    transform: translateX(-200%);
}

@starting-style {
    dialog:modal{
        bottom: -50%;
    }  
    dialog:modal[open]{
        bottom: -50%;
    }
}